<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Kullanıcıyı Projeye Ekle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="text-center">Kullanıcıyı Projeye Ekle</h2>
    <form method="POST" th:action="@{/adduser}">
        <div class="form-group">
            <label for="projectId">Proje Kimliği:</label>
            <input type="number" id="projectId" name="projectId" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="managerMail">Doğrulama Amaçlı Yönetici E-Posta Adresiniz:</label>
            <input type="email" id="managerMail" name="managerMail" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="userMail">Kullanıcı E-Posta Adresi:</label>
            <input type="email" id="userMail" name="userMail" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Kullanıcıyı Ekle</button>
    </form>
</div>
</body>
</html>
