<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }.container {  text-align: center; }
  </style>
</head>
<body>
<div class="container">
  <h1>Başka Bir Kullanıcının Sayfasına Erişmeye Çalıştınız</h1>
  <h3>Oturumunuz Sonlandırılmıştır Lütfen Tekrardan Giriş Yapınız</h3>
  <button class="btn btn-primary" onclick="location.href='/'">Giris Sayfasına Geçiş</button>
</div>
</body>
</html>
