<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Management Registeration Page</title>
</head>
<body>
<h1>Yeni Kullanıcı Oluştur</h1>

<form method="POST" th:action="@{/register}">
    <label for="fName">Adı:</label>
    <input type="text" id="fName" name="fName" required><br><br>

    <label for="lName">Soyadı:</label>
    <input type="text" id="lName" name="lName" required><br><br>
    <label for="username">Kullanıcı Adı:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">E-posta Adresi:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Parola:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="confirmPassword">Parola Tekrarı:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
    <input type="submit" value="Kaydet">
</form>
</body>
</html>
